@using Library.Resources
@using Library.Classes
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@model Library.Classes.ArticleItem
<div class="row">
	<div class="col-md-8"></div>
	<div class="col-md-4">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

			@foreach (string item in ConfigClass.Settings.controllers.article.tools)
			{
				Html.RenderAction(item, "Box", new { model = Model});
			}
		</div>
	</div>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/article")
}	