@using Library.Helpers
@using Library.Resources
@{Layout = null;}
@model Library.Models.Article_Content

<div class="panel panel-default">
	<div class="panel-heading" role="tab" id="headingText_@Model.Id" data-toggle="collapse" data-target="#collapseText_@Model.Id">
		<h4 class="panel-title">
			<a href="#collapseText_@Model.Id" aria-expanded="true" aria-controls="collapseText_@Model.Id">
				@*Translate.ContentItemsTitle*@
				@Model.Action
			</a>
		</h4>
	</div>
	<div id="collapseText_@Model.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingText_@Model.Id">
		<div class="panel-body form-horizontal">
			@Html.BootstrapEditorFor(m => m.Title, new { Label = true })

			@Html.LabelFor(m => m.Text)
			@Html.TextAreaFor(m => m.Text)
		</div>
	</div>
</div>