@using Library.Helpers
@using Library.Resources
@{Layout = null;}
@model Library.Models.Article
<div class="panel panel-primary">
	<div class="panel-heading" role="tab" id="headingGeneral">
		<h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseGeneral" aria-expanded="true" aria-controls="collapseGeneral">
				@String.Format(Translate.CreateButton, Translate.ArticleName)
			</a>
		</h4>
	</div>
	<div id="collapseGeneral" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingGeneral">
		<div class="panel-body form-horizontal">
			@if (Model != null)
			{
				<div class=" form-group has-feedback">
					<div class="col-md-12">
						@*@Html.BootstrapEditorFor(m => m.Title, new {label = Translate.WebgridTitle})*@
						@Html.LabelFor(m => m.Created_By)
						@Html.NameFor(m => m.Created_By)
					</div>
				</div>
			}
			

		</div>
	</div>
</div>

