@{Layout = null;}
<div class="panel panel-primary">
	<div class="panel-heading" role="tab" id="headingPublishdata">
		<h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapsePublishdata" aria-expanded="true" aria-controls="collapsePublishdata">
				Publish information
			</a>
		</h4>
	</div>
	<div id="collapsePublishdata" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPublishdata">
		<div class="panel-body">
			
		</div>
	</div>
</div>

