
@{
    ViewBag.Title = "Authorize";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Authorize</h2>

<p>You are not authorized to make use of the current module.</p>
<p>Contact your administrator for access if you really REALLY need this feature.</p>