@model Library.Classes.ImageSettings.Filters
@{
    Layout = null;
}

<div class="row">
	<div class="col-md-12">
		@Html.LabelFor(m => m)
		<div class="btn-group btn-group-justified" role="group" data-toggle="buttons">
			@Html.EditorFor(m => m.s_grayscale)
		</div>
	</div>
</div>

