@using Library.Classes
@model ImageConfig.Image
@{
    Layout = null;
}
<div class="row">
	<div class="col-md-12">
		@Html.LabelFor(m => m.size)
		<div class="btn-group btn-group-justified" role="group" data-toggle="buttons">
			@Html.EditorFor(m => ConfigClass.Settings.controllers.files.image.sizes, new { xsize = Model.size })
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		@Html.LabelFor(m => m.placement)
		<div class="btn-group btn-group-justified" role="group" data-toggle="buttons">
			@Html.EditorFor(m => m.placement)
		</div>
	</div>
</div>

