@using System.Resources
@using Library.Resources
@model Library.Classes.ImageConfig.Overlay
@{
    Layout = null;

	// Get all translations so that we can get the ones for the visibility buttons
	var manager = new ResourceManager(typeof(Translate));

	string isActive = (ViewData["watermark"].ToString().IndexOf(Model.name) > -1) ? "active" : "";
}

<label class="btn btn-default @isActive">
	@Html.CheckBoxFor(m => m.value, new { @Name = "imageConfig.wattermark", @Value = Model.value }) @manager.GetString(Model.name)
</label>
