@Layout = ViewBag.Layout;

<hgroup class="title">
    <h4>@ViewBag.Title</h4>
</hgroup>
<div>
    <p>
        @ViewBag.Text
    </p>
</div>
	
<script type="text/javascript">location.reload(true);</script>