@using Library.Models
@using Library.Helpers
@model ForgotPasswordViewModel
@{
	Layout = "~/Views/Shared/_Modal.cshtml";
	ViewBag.Title = "Forgot your password?";
	ViewBag.ModalName = "forgotModalSmall";
}

@using (Ajax.BeginForm("ForgotPassword", "Account", FormMethod.Post,
					new AjaxOptions
					{
						InsertionMode = InsertionMode.Replace,
						HttpMethod = "POST",
						UpdateTargetId = (ViewBag.ModalName)+"Body"
					},
					new { @class = "form-horizontal", role = "form", id = "forgotForm" }))
									
//@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id="forgotForm" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    @Html.ValidationSummary("", new { @class = "text-danger" })
	@Html.BootstrapEditorFor(m => m.Email, new { @autoFocus = true })
    <div class="form-group">
        <div class="col-md-12">
			<button type="submit" class="btn btn-primary btn-block" >Send password</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
