@{
	Layout = "~/Views/Shared/_Empty.cshtml";
    ViewBag.Title = "Create user successful";
}

<hgroup class="title">
	<h4>@ViewBag.Title</h4>
</hgroup>
<div>
	<p>
		User is successful added.
	</p>
</div>

<script type="text/javascript">location.reload(true);</script>