// Core variables and mixins
@import "bootstrap/bootstrap.less";

.border-radius(@radius) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}

@bgColor : #ffffff;
@boxShadow : 0px 2px 2px 2px rga(0,0,0,0.2);

.text-danger {
	display:none;
	cursor:pointer;
	pointer-events:all;
	text-indent: -999px;
	overflow:hidden;
/*	span{
		display:block!important;
		position:absolute;
		margin-left:3em;
		width:0em;
		opacity:0;
		color:@text-color;
		text-align:left;
		padding:@alert-padding;
		background: @bgColor;
		.border-radius(@alert-border-radius);
		.box-shadow(~"0 3px 9px rgba(0,0,0,.5)");
		.transition(~"all 0.2s ease-in-out 0.3s");
	}
	&:hover{
		span{
			width:20em;
			opacity:1;
		}
	}*/
	&:before{
		display: block;
		text-indent: 0px;
	}
}

.has-error .text-danger{display:block;}