// Core variables and mixins
//@import "bootstrap/bootstrap.less";

.border-radius(@radius) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}

@bgColor : #ffffff;
@boxShadow : 0px 2px 2px 2px rga(0,0,0,0.2);

html{overflow-y:scroll;}

//table.table thead tr.head th,
table.table tbody td.text-center{text-align:center;}

table.table thead tr.head th:first-child{text-align:left;}

.panel-heading {
	cursor: pointer;

	a:hover {text-decoration:none;}
}

.body-content{margin-top:60px;}

.navbar{
	border-bottom:0px;

	.progress{
		height:3px;
		border-radius:0px;
		margin-bottom:0px;
	}

	.progress-bar{
		opacity:0;
		width:100%;
		.transition(~"width 0s linear, opacity 1s ease-in 0.5s");

		&.countDown{
			opacity:1;
			width:0%;
			.transition(~"width 4s linear");
		}

		&.loading{
			opacity:1;
			width:75%;
			.transition(~"width 5s ease-in");
		}
		&.loaded{
			opacity:1;
			width:100%;
			.transition(~"width 0.5s ease-in");
		}
	}
}

.form-control-feedback {

	&.text-danger {
		display:none;
		cursor:pointer;
		pointer-events:all;
		text-indent: -999px;
		overflow:hidden;
	
		&:before{
			display: block;
			text-indent: 0px;
		}
	}
}

.has-error .form-control-feedback.text-danger{display:block;}

.btn{
	&.btn-primary{
		.transition(~"padding-right 0.2s ease-in-out 0.3s");
		 transform-style: preserve-3d;

		&:after{
			background: transparent url('../Content/img/loader.svg') no-repeat center right;
			background-size:20px 20px;
			content:"";
			display:block;
			width:0px;
			height:20px;
			opacity:0;
			float: right;
			vertical-align: middle;
			text-align: center;
			margin:0px;	
			.transition(~"width 0.2s ease-in-out 0.3s, opacity 0.5s ease-in-out, margin 0.2s ease-in-out 0.3s");
		}
	
		&.submit{
			&:not(.btn-block){
				padding-right: 0px;

				&:after{
					margin:0px 3px;
				}
			}
		
			&:after{
				opacity:1;
				width:20px;
			}
		}
	}
}

.modal-body{position:static;}

@-webkit-keyframes spin {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
